

{% if block.settings.social_icon_1_name != '' %}
<li>
<a href="{{ block.settings.socila_icon_1_link }}" class="facebook"><i class="ion-social-{{ block.settings.social_icon_1_name }}"></i></a>
</li>
{% endif %}
{% if block.settings.social_icon_2_name != '' %}
<li>
<a href="{{ block.settings.socila_icon_2_link }}"  class="twitter"><i class="ion-social-{{ block.settings.social_icon_2_name }}"></i></a>
  </li>
{% endif %}
{% if block.settings.social_icon_3_name != '' %}
  <li>
<a href="{{ block.settings.socila_icon_3_link }}" class="instagram"><i class="ion-social-{{ block.settings.social_icon_3_name }}"></i></a>
    </li>
{% endif %}
{% if block.settings.social_icon_4_name != '' %}
    <li>
<a href="{{ block.settings.socila_icon_4_link }}" class="googleplus"><i class="ion-social-{{ block.settings.social_icon_4_name }}"></i></a>
      </li>
{% endif %}
{% if block.settings.social_icon_5_name != '' %}
      <li>
<a href="{{ block.settings.socila_icon_5_link }}" class="rss"><i class="ion-social-{{ block.settings.social_icon_5_name }}"></i></a>
        </li>
{% endif %}
{% if block.settings.social_icon_6_name != '' %}
      <li>
<a href="{{ block.settings.socila_icon_6_link }}" class="dribbble"><i class="ion-social-{{ block.settings.social_icon_6_name }}"></i></a>
        </li>
{% endif %}
